.fullscreen {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    display: block;
    justify-content: center;
}

.topbar_img {
    position: inherit;
    right: 16px;
    height: 20px;
    opacity: 0.5;
}

.topbar {
    width: 30%;
    height: 25px;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 255, 255, 0.1);
    color:rgba(240, 230, 140, 0.1);
    vertical-align: middle;
    overflow: auto;
    transition: background-color 1s, color 1s;
}

.topbar:hover{
    background-color:rgba(0, 255, 255, 0.5);
    color: rgba(240, 230, 140, 0.8);
}