.fullscreen {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    display: block;
    justify-content: center;
}

.fullscreen_close {
    position: inherit;
    right: 16px;
    height: 20px;
}

.topbar {
    width: 30%;
    height: 25px;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(0, 255, 255, 0.1);
    color:rgba(240, 230, 140, 0.1);
    vertical-align: middle;
}